/* EMPIEZA CONTENEDOR 1 MOBILE*/

.contenedor1asistencia {
  margin: 0 28px;
  background-color: #3cf;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 64px 32px;
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 20px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
}

// TERMINA CONTENEDOR 1 MOBILE

/* EMPIEZA CONTENEDOR 2 MOBILE*/

.contenedor2_asistencia {
  margin: 0 28px;
  background-color: #3cf;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 64px 32px;
  h2 {
    align-self: flex-start;
    max-width: 610px;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    padding-bottom: 10px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding-bottom: 40px;
  }
}

// TERMINA CONTENEDOR 2 MOBILE


// EMPIEZA CONTENEDOR 3 MOBILE
.cards_asistencia {
  margin: 0 28px;
  align-items: center;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 40px 32px;
}

.card1_asistencia {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 24px;
    padding-bottom: 8px;
    text-align: center;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
  button {
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
  }
}

.card2_asistencia {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 24px;
    padding-bottom: 8px;
    text-align: center;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
  button {
    border-radius: 30px;
    border: 2px solid black;
    cursor: pointer;
  }
}
// TERMINA CONTENEDOR 3 MOBILE

// EMPIEZA CONTENEDOR 4 MOBILE

.contenedor4_asistencia {
  margin: 0 28px;
  margin-bottom: 32px;
}

.titulo4_asistencia {
  padding-bottom: 24px;
  text-align: center;
  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-block-end: 0;
    margin-block-start: 0;
  }
}

.wrapper4_asistencia {
  display: flex;
  flex-direction: column;
}

.wrapper__card__4__asistencia {
  margin-bottom: 32px;
  background-color: #87f6c2;
  border: 2px solid transparent;
  border-radius: 13px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: 218px;
  padding: 40px 32px;
  h3 {
    padding-bottom: 16px;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  p {
    line-height: 30px;
    min-width: 260px;
    padding-bottom: 26px;
    font-size: 16px;
    font-weight: 300;
  }
  button {
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 48px;
    transition: all 0.1s ease-in-out;
  }
}

.wrapper__card4__asistencia {
  background-color: #3cf;
  border: 2px solid transparent;
  border-radius: 13px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: 218px;
  padding: 40px 32px;
  h3 {
    padding-bottom: 16px;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  p {
    line-height: 30px;
    min-width: 260px;
    padding-bottom: 26px;
    font-size: 16px;
    font-weight: 300;
  }
  button {
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 48px;
    transition: all 0.1s ease-in-out;
  }
}
// TERMINA CONTENEDOR 4 MOBILE

@media (min-width: 992px) {
  .contenedor1asistencia {
    background-image: linear-gradient(
        89.29deg,
        rgba(0, 0, 0, 0.8) 6.72%,
        rgba(0, 0, 0, 0) 73.38%
      ),
      url(../img/asistencia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
  }

  .contenedor1asistencia {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    padding: 0 80px;
    margin-bottom: 32px;
    h1 {
      color: white;
      font-size: 55px;
      line-height: 68px;
    }
    p {
      color: white;
      margin-bottom: 40px;
      line-height: 30px;
    }
  }

  .contenedor-textos-asistencia {
    max-width: 400px;
    padding: 0 30px;
    h2 {
      color: white;
      font-size: 22px;
      margin-bottom: 10px;
    }
    h1 {
      color: white;
      font-size: 55px;
      margin-bottom: 40px;
      line-height: 68px;
    }
    p {
      color: white;
      margin-bottom: 55px;
      line-height: 30px;
    }
  }

  .contenedor2_asistencia {
    background-image: linear-gradient(
        89.29deg,
        rgba(0, 0, 0, 0.8) 6.72%,
        rgba(0, 0, 0, 0) 73.38%
      ),
      url(../img/asistencia2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
  }

  .contenedor2_asistencia {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    margin-bottom: 60px;
  }

  .contenedortextos_asistencia {
    max-width: 700px;
    padding: 0 100px;
    h2 {
      color: white;
      font-size: 55px;
      margin-bottom: 40px;
      max-width: 700px;
      line-height: 70px;
    }
    p {
      color: white;
      font-size: 18px;
      margin-bottom: 60px;
      line-height: 30px;
    }
  }

  .cards_asistencia {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
  }

  .card1_asistencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    max-width: 1440px;
    margin: 0 auto;
    img {
      width: 200px;
    }
    h3 {
      font-size: 28px;
      margin-bottom: 37px;
    }
    button {
      margin-bottom: 32px;
      border-radius: 30px;
      border: 2px solid black;
      cursor: pointer;
    }
  }

  .card2_asistencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    max-width: 1440px;
    margin: 0 auto;
    img {
      width: 200px;
    }
    h3 {
      margin-bottom: 32px;
      font-size: 28px;
    }
    button {
      margin-bottom: 32px;
      border-radius: 30px;
      border: 2px solid black;
      cursor: pointer;
    }
  }

  .contenedor4_asistencia {
    margin-bottom: 40px;
  }

  .titulo4_asistencia h2 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
  }

  .wrapper4_asistencia {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
  }
  .wrapper__card__4__asistencia {
    background-color: #53ffa1;
    border: 2px solid transparent;
    border-radius: 13px;
    box-sizing: border-box;
    padding: 72px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3 {
      padding-bottom: 24px;
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
    }
    p {
      padding-bottom: 80px;
      font-size: 19px;
      line-height: 30px;
      max-width: 600px;
    }
  }
  .wrapper__card4__asistencia {
    background-color: #3cf;
    border: 2px solid transparent;
    border-radius: 13px;
    box-sizing: border-box;
    padding: 72px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h3 {
      padding-bottom: 24px;
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
    }
    p {
      padding-bottom: 80px;
      font-size: 19px;
      line-height: 30px;
      max-width: 600px;
    }
  }

  .titulo4_asistencia h2 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
  }
}
