@media (min-width: 992px) {
  /* EMPIEZA ¿POR QUE WAZE? */
  /* CONTENEDOR 1 */
  .contenedor1__porquewaze {
    background-image: linear-gradient(
        89.29deg,
        rgba(0, 0, 0, 0.8) 6.72%,
        rgba(0, 0, 0, 0) 73.38%
      ),
      url(../img/porquewaze1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
  }
  .contenedor1__porquewaze {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    padding: 0 80px;
    margin-bottom: 32px;
  }
  .contenedor1textos__porquewaze {
    padding: 0px 30px;
    max-width: 550px;
    h2 {
      color: white;
      font-size: 22px;
      margin-bottom: 32px;
    }
    h1 {
      color: white;
      font-size: 55px;
      margin-bottom: 32px;
      line-height: 68px;
    }
    p {
      color: white;
      margin-bottom: 60px;
      line-height: 32px;
    }
  }
  .carousel-slide {
    max-width: 1440px;
    margin: 0 auto;
  }
  .carousel-item {
    height: 32rem;
    animation: transform 16s infinite ease-in-out;
  }
  .carousel-caption {
    bottom: 4rem;
    left: 7%;
    max-width: 500px;
    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    h1 {
      font-size: 50px;
      margin-bottom: 40px;
    }
    p {
      font-size: 18px;
      margin-bottom: 50px;
    }
  }
  /* TERMINA CONTENEDOR 1 */
  /* EMPIEZA CONTENEDOR 2 */
  .contenedor2__porquewaze {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    h1 {
      display: flex;
      justify-content: center;
      padding: 22px 0;
      font-size: 56px;
      font-weight: 600;
      line-height: 67px;
    }
  }
  .columnas__porquewaze {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 40px 32px;
  }
  .columna__porquewaze {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: #963eff;
      font-size: 60px;
      font-weight: 600;
      padding-bottom: 8px;
    }
  }
  /* TERMINA CONTENEDOR 2 */
  /* EMPIEZA CONTENEDOR 3 */
  .contenedor3__porquewaze {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
    img {
      margin-bottom: 50px;
      width: 180px;
    }
  }
  .columnas3__porquewaze {
    display: flex;
    flex-direction: row;
  }
  .columnaizquierda__porquewaze {
    padding-bottom: 24px;
    max-width: 500px;
    h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
      padding-bottom: 32px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 29px;
      padding-bottom: 32px;
    }
    button {
      display: inline-block;
      border: 2px solid #000;
    }
    button:hover {
      background-color: #3cf;
    }
  }
  .columnaderecha__porquewaze {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 230px;
    max-width: 800px;
    line-height: 35px;
  }
  /* TERMINA CONTENEDOR 3 */
  /* EMPIEZA CONTENEDOR 4 */
  .contenedor4__porquewaze {
    background-image: linear-gradient(
        89.29deg,
        rgba(0, 0, 0, 0.8) 6.72%,
        rgba(0, 0, 0, 0) 73.38%
      ),
      url(../img/porquewaze4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
  }
  .contenedor4__porquewaze {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    padding: 0 80px;
    margin-bottom: 32px;
  }
  .contenedor4textos__porquewaze {
    color: #fff;
    padding: 0px 30px;
    max-width: 600px;
    h2 {
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      padding-bottom: 32px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 29px;
      padding-bottom: 32px;
    }
    button {
      background: #fff;
      border: 2px solid transparent;
      border-radius: 30px;
      font-size: 16px;
      font-weight: 500;
      padding: 13px 48px;
    }
  }
}
