// EMPIEZA CONTENEDOR 1 MOBILE

.contenedor1_porquewaze {
  margin: 0 28px;
  background-color: #3cf;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 64px 32px;
  h1 {
    align-self: flex-start;
    max-width: 610px;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 40px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding-bottom: 40px;
  }
}

// TERMINA CONTENEDOR 1 MOBILE

// EMPIEZA CONTENEDOR 2 MOBILE

.contenedor2__porquewaze {
  margin: 0 28px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  h2 {
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
  }
}

.columnas__porquewaze {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;

}

.columna__porquewaze {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    color: #963eff;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 8px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    padding-bottom: 32px;
    text-align: center;
  }
}

// TERMINA CONTENEDOR 2 MOBILE

// EMPIEZA CONTENEDOR 3 MOBILE

.contenedor3__porquewaze {
  margin: 0 28px;
  img {
    margin-bottom: 50px;
    width: 180px;
  }
}
.columnas3__porquewaze {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
}
.columnaizquierda__porquewaze {
  padding-bottom: 24px;
  h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 32px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    padding-bottom: 32px;
  }
  button {
    display: inline-block;
    border: 2px solid #000;
    margin-bottom: 32px;
  }
}
.columnaderecha__porquewaze {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  line-height: 35px;
  margin-bottom: 32px;
}

// TERMINA CONTENEDOR 3 MOBILE

// EMPIEZA CONTENEDOR 4 MOBILE

.contenedor4__porquewaze {
  margin: 0 28px;
  background-color: #3cf;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 64px 32px;
  h2 {
    align-self: flex-start;
    max-width: 610px;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 40px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding-bottom: 40px;
  }
}

// TERMINA CONTENEDOR 4 MOBILE

@media (min-width: 768px) {

  // EMPIEZA CONTENEDOR 1 TABLET
  .contenedor1_porquewaze {
    margin: 0 40px;
    background-color: #3cf;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    box-sizing: border-box;
    margin-bottom: 32px;
    padding: 64px 32px;
    h1 {
      align-self: flex-start;
      max-width: 610px;
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;
      padding-bottom: 40px;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      padding-bottom: 40px;
    }
  }
  
  // TERMINA CONTENEDOR 1 TABLET
  
  // EMPIEZA CONTENEDOR 2 TABLET
  
  .contenedor2__porquewaze {
    margin: 0 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    h2 {
      padding-bottom: 20px;
      font-size: 32px;
      font-weight: 600;
      line-height: 38px;
      text-align: center;
    }
  }
  
  .columnas__porquewaze {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  
  }
  
  .columna__porquewaze {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      color: #963eff;
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 8px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 29px;
      padding-bottom: 32px;
      text-align: center;
    }
  }
  
  // TERMINA CONTENEDOR 2 TABLET
  
  // EMPIEZA CONTENEDOR 3 TABLET
  
  .contenedor3__porquewaze {
    margin: 0 40px;
    img {
      margin-bottom: 50px;
      width: 180px;
    }
  }
  .columnas3__porquewaze {
    display: flex;
    flex-direction: row;
    text-align: flex-start;
  }
  .columnaizquierda__porquewaze {
    padding-bottom: 24px;
    max-width: 370px;
    h2 {
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
      padding-bottom: 32px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 29px;
      padding-bottom: 32px;
    }
    button {
      display: inline-block;
      border: 2px solid #000;
      margin-bottom: 32px;
    }
  }
  .columnaderecha__porquewaze {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    line-height: 35px;
    margin-bottom: 32px;
  }
  
  // TERMINA CONTENEDOR 3 TABLET
  
  // EMPIEZA CONTENEDOR 4 TABLET
  
  .contenedor4__porquewaze {
    margin: 0 40px;
    background-color: #3cf;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    box-sizing: border-box;
    margin-bottom: 32px;
    padding: 64px 32px;
    h2 {
      align-self: flex-start;
      max-width: 610px;
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;
      padding-bottom: 40px;
    }
    p {
      font-weight: 300;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      padding-bottom: 40px;
    }
  }
  
  // TERMINA CONTENEDOR 4 TABLET
}


@media (min-width: 992px) {

  // EMPIEZA CONTENEDOR 1 
  .contenedor1_porquewaze {
    background-image: linear-gradient(
        89.29deg,
        rgba(0, 0, 0, 0.8) 6.72%,
        rgba(0, 0, 0, 0) 73.38%
      ),
      url(../img/porquewaze5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
  }

  .contenedor1_porquewaze {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    padding: 0 80px;
    margin-bottom: 32px;
    h1 {
      color: white;
      font-size: 55px;
      line-height: 68px;
      margin-bottom: 40px;
    }
    p {
      color: white;
      font-size: 18px;
      line-height: 30px;
    }
  }

  .contenedor-textos_porquewaze {
    padding: 0px 30px;
    max-width: 600px;
  }

  /* TERMINA CONTENEDOR 1 */
  /* EMPIEZA CONTENEDOR 2 */
  .contenedor2__porquewaze {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
    h2 {
      display: flex;
      justify-content: center;
      padding: 22px 0;
      font-size: 56px;
      font-weight: 600;
      line-height: 67px;
    }
  }
  .columnas__porquewaze {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 40px 32px;
  }
  .columna__porquewaze {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      color: #963eff;
      font-size: 60px;
      font-weight: 600;
      padding-bottom: 8px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 29px;
      padding-bottom: 32px;
      text-align: center;
    }
  }
  /* TERMINA CONTENEDOR 2 */
  /* EMPIEZA CONTENEDOR 3 */
  .contenedor3__porquewaze {
    max-width: 1200px;
    margin: 0 auto;
    img {
      margin-bottom: 50px;
      width: 200px;
    }
  }
  .columnas3__porquewaze {
    display: flex;
    flex-direction: row;
  }
  .columnaizquierda__porquewaze {
    padding-bottom: 24px;
    max-width: 500px;
    h2 {
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
      padding-bottom: 32px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 29px;
      padding-bottom: 32px;
    }
    button {
      display: inline-block;
      border: 2px solid #000;
    }
    button:hover {
      background-color: #3cf;
    }
  }
  .columnaderecha__porquewaze {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 230px;
    max-width: 800px;
    line-height: 35px;
  }
  /* TERMINA CONTENEDOR 3 */
  /* EMPIEZA CONTENEDOR 4 */
  .contenedor4__porquewaze {
    background-image: linear-gradient(
        89.29deg,
        rgba(0, 0, 0, 0.8) 6.72%,
        rgba(0, 0, 0, 0) 73.38%
      ),
      url(../img/porquewaze4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
  }
  .contenedor4__porquewaze {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    padding: 0 80px;
    margin-bottom: 40px;
  }
  .contenedor4textos__porquewaze {
    color: #fff;
    padding: 0px 30px;
    max-width: 600px;
    h2 {
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      padding-bottom: 32px;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 29px;
      padding-bottom: 32px;
    }
    button {
      background: #fff;
      border: 2px solid transparent;
      border-radius: 30px;
      font-size: 16px;
      font-weight: 500;
      padding: 13px 48px;
    }
  }
}
