/* EMPIEZA FOOTER MOBILE*/
.footer1 {
  margin: 0 28px;
  img {
    width: 160px;
  }
  p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
  }
  button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    border: 2px solid #000;
    border-radius: 30px;
  }
}

.box__footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  h4 {
    margin-bottom: 20px;
  }
  a {
    margin-bottom: 20px;
  }
}
.copyright ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}
.fa-brands {
  font-size: 30px;
}
.copy p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
/* TERMINA FOOTER MOBILE*/

@media (min-width: 992px) {
  /* EMPIEZA FOOTER */
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }
  .contenedorfooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer1 img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    width: 180px;
    p {
      font-size: 20px;
      font-weight: 600;
      margin-top: 20px;
    }
    button {
      margin-top: 20px;
      background-color: #fff;
      border-radius: 30px;
      border: 2px solid black;
    }
  }
  .box__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 20px;
    }
    a:hover {
      color: #3cf;
      text-decoration: underline;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 20px;
    }
  }
  .fa-brands {
    font-size: 40px;
    flex-direction: row;
    margin-top: 40px;
  }
  .copyright {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    ul {
      list-style: none;
      align-self: center;
    }
    li {
      display: inline-flex;
      flex: 0 0 auto;
      align-self: center;
      align-items: center;
      height: 48px;
      width: 48px;
      padding-bottom: 20px;
    }
  }
  .copy {
    display: flex;
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
