.btn {
  color: black;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid black;
}

.modal-tittle {
  font-size: 48px;
  text-align: start;
}

.nombre {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-bottom: 2px solid #000;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 18px;
  margin-top: 32px;
  outline: 0;
  padding-bottom: 17px;
  width: 100%;
}
.apellido {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-bottom: 2px solid #000;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 18px;
  margin-top: 32px;
  outline: 0;
  padding-bottom: 17px;
  width: 100%;
}
.correo-electronico {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-bottom: 2px solid #000;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 18px;
  margin-top: 32px;
  outline: 0;
  padding-bottom: 17px;
  width: 100%;
}
.negocio {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-bottom: 2px solid #000;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 18px;
  margin-top: 32px;
  outline: 0;
  padding-bottom: 17px;
  width: 100%;
}
.puesto {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-bottom: 2px solid #000;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 18px;
  margin-top: 32px;
  outline: 0;
  padding-bottom: 17px;
  width: 100%;
}
.pais {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-bottom: 2px solid #000;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 18px;
  margin-top: 32px;
  outline: 0;
  padding-bottom: 17px;
  width: 100%;
}
.anuncios {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-bottom: 2px solid #000;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  border-top: 0;
  font-size: 18px;
  margin-top: 32px;
  outline: 0;
  padding-bottom: 17px;
  width: 100%;
  margin-bottom: 32px;
}

.form-check {
  margin: 20px;
}
